
@{
    ViewBag.Title = "Index";
}

<h1>Administration</h1>

@Html.ActionLink("Product Admin","Index","Product", null, new { @class = "btn btn-lg btn-info" })
@Html.ActionLink("News", "Index", "Post", null, new { @class = "btn btn-lg btn-info"})




