@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@

<div class="panel panel-success">
    <div class="panel-heading" style="text-align:center;">
        <h2>About Us</h2>
    </div>
    <div class="panel-body">
        <p style="text-align:center; font-family: ArtScript,ArtScript; font-size: 200%;">The Taste of Goodness - The Taste Of Freshness</p>
        Delmo" was founded by Mr. L A S Perera in 1988 as a backyard poultry operation. With its operations based in Udugampola in Gampaha district, the company has been a pioneer in production, processing and marketing of Broiler Chicken in the region.
        <p>"Delmo" began to grow steadily over the years due to its outstanding product quality and excellent customer care, along with the chicken meat's popularity as an affordable and versatile source of protein.</p>
        <p>Broiler production farms of the company are equipped with world's most modern growing technology while processing is carried out in a plant which is ultra modern with techniques and equipments which are up to international standards.</p>
        From the inception to present "Delmo" has been on a journey of progress and growth with the use of innovative technology and continuous  improvement and now it has become a most respected poultry meat supplier in the country.
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading"><b>Our mission</b></div>
            <div class="panel-body" style="height:180px;  text-align:justify">
                We are committed to the highest standards of food quality and customer care through effective utilization of technology and resources while striving for continuous improvement.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading"><b> Our Vision </b></div>
            <div class="panel-body" style="height:180px;  text-align:justify">
                Our vision is to be the leader in providing animal nutrition to the nation with the optimal use of innovative technology while preserving the environment.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>Our Food Safety Policy</b>
            </div>
            <div class="panel-body" style="height:180px;  text-align:justify">
                "We at Delmo, are committed to provide safe, hygienic and nutritious poultry meat products to satisfy the requirements of our customers through an environment-friendly and continually improving Food Safety Management System, that complies with all relevant statutory and regulatory requirements"
            </div>
        </div>
    </div>
</div>
<div>
    <table align="center">
        <tr>
            <td><a href="http://www.iso.org/iso/home/standards/management-standards/iso22000.htm" target="_blank"><img src="~/Images/ISO-22000-logo.jpg" alt="iso-22000" border=0 width=80 height=35 /></a></td>
            <td><a href="http://www.fda.gov/Food/GuidanceRegulation/HACCP/" target="_blank"><img src="~/Images/hacp.jpg" alt="hacp" border=0 width=80 height=34 /></a></td>
            <td><a href="http://www.bmpa.uk.com/Content/home.aspx" target="_blank"><img src="~/Images/bmpa.jpg" alt="bmpa" border=0 width=80 height=66 /></a></td>
            <td><a href="#" target="_blank"><img src="~/Images/RvA-logo.jpg" alt="RvA" border=0 width=80 height=78 /></a></td>
            <td><a href="http://slab.lk/" target="_blank"><img src="~/Images/slab.jpg" alt="slab" border=0 width=80 height=89 /></a></td>
            <td><a href="http://www.hac.lk/" target="_blank"><img src="~/Images/hala1l.png" alt="hala1l" border=0 width=80 height=42 /></a></td>
        </tr>
    </table>
</div>
 @*style="align-items:center"*@
<div class="row text-center">
    @*<div class="col-md-8">*@
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Our Principles</b>
            </div>
            <div class="panel-body">
                <p>" To our customers, we want to be the preferred supplier who can supply products of outstanding quality with excellent customer service.</p>
                <p>" To our employees, we want to be the preferred employer who provides equal opportunities for everyone to succeed.</p>
                <p>" To our community, we want to be the preferred corporate citizen which supports their community activities while preserving the environment.</p>
            </div>
        @*</div>*@
    </div>
</div>
